# Dependency directories
/vendor/

# Firebase/Google Keys (SECURITY RISK!)
service-account.json

# Local scripts & logs
index-now.php
bing-index-now.php
progress.txt
progress_bing.txt

# Cloudflare/Wrangler
.wrangler/
.dev.vars*
.env*